<div class="tile is-child box notification is-danger">
    <p class="title">Υγρασία</p>
    <div class="columns">
        <div class="column centeredElements">
            <span class="icon">
                <i class="fa fa-tint fa-5x"></i>
            </span>
        </div>
        <div class="column">
            <p>Η υγρασία στο χώρο είναι
                <strong>{{humidity}}</strong> %</p>
        </div>
    </div>
</div>