<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <meta name="author" content="Alexandros Kantas">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body class="hero is-info is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class=" navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1 class="title has-text-dark">
            <%=title%>
          </h1>
        </a>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div id="app" class="hero-body">
    <div class="container has-text-centered">
      <section id="map" class="map">Loading map...</section>
      <h2 class="subtitle" @click="showModal(true)">
        {{homeAddr}}
      </h2>
    </div>
    <section class="modal is-active" v-show="isModalActive">
      <div class="modal-background" @click="showModal(false)"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close" @click="showModal(false)"></button>
        </header>
        <section class="modal-card-body">
          <h1 class="title has-text-dark">Are you Sure that you want to set your home at latitude {{lat.toFixed(2)}} and longitude {{lng.toFixed(2)}} ?</h1>
        </section>
        <footer class="modal-card-foot">
          <div action="/setHome" method="post">
            <input v-model="lat" name="lat" type="hidden">
            <input v-model="lng" name="lng" type="hidden">
            <input v-model="homeAddr" name="geocodedAddress" type="hidden">
            <button type="button" class="button is-success" @click="updateHome">Update Home</button>
          </div>
          <button class="button" @click="showModal(false)">Cancel</button>
        </footer>
      </div>
    </section>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot has-text-centered">
    kantas.net
  </div>
  <script src="public/js/vue.js"></script>
  <script>
    var homeAddr = "<%=homeAddr%>";
    var lat = <%=lat%>;
    var lng = <%=lng%>;
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLEzuHdS3Y6eLXyXRLGIGIoVDBoYMVjBo&callback=initMap"></script>
  <script src="public/js/homelocation.js"></script>
</body>

</html>