<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <meta name="author" content="Alexandros Kantas">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="/public/css/iziToast.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header class="is-primary navbar header">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title ">
                    <%= title %>
                </h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="https://github.com/alexzzzboom/IoT" class="navbar-item">
                    <span class="icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="/links" class="navbar-item">
                    <span class="icon">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="/logOut" class="navbar-item">
                    <span class="icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </header>

    <main id="root" class="container">
        <h4 class="title" v-show="loading">
            <em>Please wait, page still loading...</em>
        </h4>
        <section class="columns">
            <div class="column is-4 notification is-success">
                <p class="">
                    <strong>
                        <%=username%>
                    </strong>'s dashboard</p>
                </span>
            </div>
            <div class="column  is-4 is-offset-4 notification" :class="{'is-danger':!raspberryConnected,'is-success':raspberryConnected}" @click="raspberryStatus">
                <p class="has-text-right">Raspberry is
                    <strong v-show="!raspberryConnected">not</strong> connected!</p>
                <p class="has-text-right littleMargin">
                    <img src="/public/img/pi1.png" alt="raspberry-connected" class="shadowfilter raspImage" v-if="raspberryConnected">
                    <img src="/public/img/pi3.png" alt="raspberry-not-connected" class="shadowfilter raspImage" v-else>
                </p>
            </div>
        </section>

        <usersarea></usersarea>

        <section>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <device icon-class="fa-lightbulb-o greenBulp" :device-id='1' :meters="5" :enabled="false">Device 1</device>
                </div>

                <div class="tile is-parent">
                    <device icon-class="fa-lightbulb-o redBulp" :device-id='2' :meters="15" :temp="18" :enabled="true">Device 2</device>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical is-4 ">
                    <div class="tile is-child box notification is-danger" @click="temperatureStatus">
                        <p class="title">Temperature</p>
                        <div class="columns">
                            <div class="column centeredElements">
                                <span class="icon">
                                    <i class="fa fa-thermometer-quarter fa-5x"></i>
                                </span>
                            </div>
                            <div class="column">
                                <p>Temperature is</p>
                                <h1 class="title is-1 temperature">{{temperature}}</h1>
                                <p>Celcius</p>
                            </div>
                        </div>
                    </div>

                    <video-area css-classes="image is-128x128 sideCam" image-url="/public/img/webcamera.jpg" cam-id="2">Area's image from side camera as been recoreded </video-area>

                    <div class="tile is-child box notification is-danger" @click="temperatureStatus">
                        <p class="title">Humidity</p>
                        <div class="columns">
                            <div class="column centeredElements">
                                <span class="icon">
                                    <i class="fa fa-tint fa-5x"></i>
                                </span>
                            </div>
                            <div class="column">
                                <p>Humidity is
                                    <strong>{{humidity}}</strong> %</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tile is-parent">
                    <video-area css-classes="image is-3by2 topMargin" image-url="/public/img/camera.jpg" cam-id="1">Area's image as been recoreded </video-area>
                </div>
            </div>

        </section>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/moment.js"></script>
    <script src="/public/js/iziToast.js"></script>
    <script>
        var socket = io('<%=url%>');
        moment.locale('en');
    </script>
    <script src="/public/js/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLEzuHdS3Y6eLXyXRLGIGIoVDBoYMVjBo"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>