<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <meta name="author" content="Alexandros Kantas">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <header class="is-primary navbar header">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title ">
                    <%= title %>
                </h1>
            </a>
        </div>
    </header>

    <main id="root" class="container">
        <section class="columns ">
            <div :class="{'is-danger':!isUserNearby,'is-success':isUserNearby}" class="column is-4 notification">
                <p class="">User is <strong>{{userDistance}}</strong> meters away from home!</p>
                <span class="icon littleMargin">
                    <i class="fa  fa-map-marker fa-2x"></i>
                </span>
            </div>
            <div class="column  is-4 is-offset-4 notification" :class="{'is-danger':!raspberryConnected,'is-success':raspberryConnected}">
                <p class="has-text-right">Raspberry is <strong v-show="!raspberryConnected">not</strong> connected!</p>
                <p class="has-text-right littleMargin">
                    <img src="public/img/pi1.png" alt="raspberry-connected" class="shadowfilter raspImage" v-if="raspberryConnected">
                    <img src="public/img/pi2.png" alt="raspberry-not-connected" class="shadowfilter raspImage" v-else>
                </p>
            </div>
        </section>


        <section>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <device icon-class="fa-lightbulb-o greenBulp" :device-id='1' :meters="5" :enabled="false">Συσκευή 1</device>
                </div>

                <div class="tile is-parent">
                    <device icon-class="fa-lightbulb-o redBulp" :device-id='2' :meters="15" :temp="18" :enabled="true">Συσκευή 2</device>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical is-4 ">
                    <div class="tile is-child box notification is-danger">
                        <p class="title">Θερμοκρασία</p>
                        <div class="columns">
                            <div class="column centeredElements">
                                <span class="icon">
                                <i class="fa fa-thermometer-quarter fa-5x"></i>
                            </span>
                            </div>
                            <div class="column">
                                <p>Η θερμοκρασία είναι</p>
                                <h1 class="title is-1 temperature">{{temperature}}</h1>
                                <p>βαθμοί κελσίου</p>
                            </div>
                        </div>
                    </div>

                    <image-area css-classes="image is-128x128 sideCam" image-url="/public/img/webcamera.jpg" cam-id="2">Εικόνα του χώρου απο την πλευρική κάμερα όπως καταγράφτηκε </image-area>

                    <div class="tile is-child box notification is-danger">
                        <p class="title">Υγρασία</p>
                        <div class="columns">
                            <div class="column centeredElements">
                                <span class="icon">
                                <i class="fa fa-tint fa-5x"></i>
                            </span>
                            </div>
                            <div class="column">
                                <p>Η υγρασία στο χώρο είναι <strong>{{humidity}}</strong> %</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tile is-parent">
                    <image-area css-classes="image is-3by2 topMargin" image-url="/public/img/camera.jpg" cam-id="1">Εικόνα του χώρου όπως καταγράφτηκε </image-area>
                </div>
            </div>

        </section>

    </main>
    <script src="socket.io/socket.io.js"></script>
    <script src="public/js/moment.js"></script>
    <script>
        var socket = io('<%=url%>');
        moment.locale('el');
    </script>
    <script src="public/js/vue.js"></script>
    <script src="public/js/dist/main.js"></script>
</body>

</html>